<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = '削除', scripts = ~{::script}, links = ~{::link})"></head>

<body>
	test!

	<div class="container">
		<!--    <div th:if="${validationError}" th:each="error : ${validationError}">-->
		<!--      <label class="text-danger" th:text="${error}"></label>-->
	</div>
	<h1>削除</h1>
	
	<form class="edit_form" method="post" th:href="@{/user/{id}/delete/delte_content(id=*{id})}">
		<div class="edit_editerea del_editerea">
			<p class="del_check">本当に削除しますか？</p>
			<textarea readonly class="del_textarea" name="edit" rows="10" th:object="${editForm}"　th:field="*{content}">
				
			</textarea>
		</div>

		<div class="btn">
			<div class="btn_between btn">
				<input class="btn_cancel" type="submit" value="キャンセル" />
				<input class="btn_red" type="submit" value="　 削除 　" />
			</div>
		</div>
	</form>
</body>

</html>