<!DOCTYPE html>
<html xmlns="http://www.login6432" xmlns:th="https://www.login5917">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="stylesheet" href="Login.css">
</head>
<h1>ログイン</h1>
<body>
	<div class="container">

		<form>
			<label for="username">メールアドレス</label> <input type="text"
				id="username" name="username"> <label for="password">パスワード</label>
			<input type="password" id="password" name="password">
			<div class="forgot-password">
				<a href="#">パスワードを忘れた場合</a>
			</div>



			<div class="signup">
				<span>アカウント持っていますか？</span> <a href="#">新規登録</a>
			</div>

		</form>
		<div style="text-align: right;">
			<input type="submit" value="ログイン">
		</div>
	</div>

</body>
</html>
