<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = '返信', scripts = ~{::script}, links = ~{::link})"></head>

<body>

	<div class="container">
		<!--    <div th:if="${validationError}" th:each="error : ${validationError}">-->
		<!--      <label class="text-danger" th:text="${error}"></label>-->
	</div>
	<h1>返信</h1>
	
	<form class="edit_form">
		<div class="edit_editerea reply_editerea">
			<textarea readonly class="edit_textarea" name="edit" rows="10" >入力した内容を表示</textarea>
		</div>

	</form>

	<form class="edit_form" th:action="@{/reply/{id}(id=*{id})}">
		<div class="edit_editerea">
			<textarea class="edit_textarea" name="edit" rows="10" ></textarea>
			
			<div class="div_btn_img">
			<input class="btn_img" type="image" th:src="@{/img/clip.jpeg}" name="edit_clip" alt="ファイル">
			<input class="btn_img" type="image" th:src="@{/img/image.jpeg}" name="edit_clip" alt="画像">
			</div>
		</div>

		<div class="btn">
			<div class="btn_between btn">
				<input class="btn_cancel" type="submit" value="キャンセル" />
				<input class="btn_red" type="submit" value="　 返信 　" />
			</div>
		</div>
	</form>
</body>

</html>