<!DOCTYPE html>
<html>
<head>
  <title>Twitter検索</title>
  <link rel="stylesheet" href="/css/search.css">
</head>
<body>
  <div class="container">
    <h1>キーワード検索</h1>

    <div class="search-box">
      <button class="cancel-button">キャンセル</button>
      <button class="editing-button">マイページ</button>
      <!-- <button class="deleted-button">削除</button> -->
    </div>

    <div class="search-box">
      <input type="text" class="search-input" placeholder="検索キーワードを入力して">
      <button class="search-button">検索</button>
    </div>

    <div class="search-results">
      <div class="search-result">
        <p>検索結果1</p>
        <button class="like-button">♡</button>
      </div>
      <div class="search-result">
        <p>検索結果2</p>
        <button class="like-button">♡</button>
      </div>
      <div class="search-result">
        <p>検索結果3</p>
        <button class="like-button">♡</button>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>