@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .tweet-box {
    border: 2px solid #be0a14ff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .tweet-box textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 16px;
    border: none;
    resize: none;
  }
  
  .tweet-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #be0a14ff;
    color: #fff;
    border: 2px solid #be0a14ff;
    cursor: pointer;
  }
  
  .back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: 2px solid #be0a14ff;
    cursor: pointer;
  }
  
  .back-button {
    float: left;
    margin-right: 10px;
  }
  